<p></p>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="95%">
    <mat-card>
      <mat-form-field class="filtro">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-card>
  </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef ><div class="centralizar">Id Regras</div> </th>
  
      <td mat-cell *matCellDef="let row"> <div class="centralizar">{{row.id}}</div> </td>
    </ng-container>
  
    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef ><div class="centralizar">Nome da Regra</div></th>
      <td mat-cell *matCellDef="let row"> {{row.nomeRegras}} </td>
    </ng-container>
  
    <!-- Descrição Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef ><div class="centralizar">Descrição </div></th>
      <td mat-cell *matCellDef="let row"> {{row.descricaoRegras}} </td>
    </ng-container>
  
    <!-- Nome do Paramêtro de Entrada Column -->
    <ng-container matColumnDef="nomeParEntrada">
      <th mat-header-cell *matHeaderCellDef ><div class="centralizar">Nome do Parâmetro de Entrada </div></th>
      <td mat-cell *matCellDef="let row"> {{row.nomeParEntrada}} </td>
  
    </ng-container>
  
    <ng-container matColumnDef="tipoParEntrada">
      <th mat-header-cell *matHeaderCellDef ><div class="centralizar">Tipo do Parâmetro de Entrada</div> </th>
      <td mat-cell *matCellDef="let row"> {{row.tipoParEntrada}} </td>
    </ng-container>
  
    <ng-container matColumnDef="mandatorio">
      <th mat-header-cell *matHeaderCellDef ><div class="centralizar">Mandatório</div></th>
      <td mat-cell *matCellDef="let row"> {{row.mandatorio}} </td>
    </ng-container>
  
     <!-- Paramêtro de Saída Column -->
     <ng-container matColumnDef="nomeParSaida">
      <th mat-header-cell *matHeaderCellDef ><div class="centralizar"> Nome do Parâmetro de Saída</div></th>
      <td mat-cell *matCellDef="let row"> {{row.nomeParSaida}} </td>
    </ng-container>
  
    <ng-container matColumnDef="tipoParSaida">
      <th mat-header-cell *matHeaderCellDef ><div class="centralizar">Tipo do Parâmetro de Saída</div> </th>
      <td mat-cell *matCellDef="let row"> {{row.tipoParSaida}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end none" style="margin-right: 30px;">
    <div fxFlex="10%">
      <button mat-raised-button color="primary" class="filtro"(click)="openDialog()">Editar</button>
    </div>
  <p></p>
  <div fxFlex="10%">
      <button mat-raised-button color="warn" class="filtro">Excluir</button>
    </div>
</div>